{% extends "layout.html.twig" %}

{% block content %}
	<div style="margin: 20px 0">
		{#<form action="https://flydev.rocketroute.com/remote/auth" method="POST" class="clearfix">
			<input type="hidden" name="req" value="{{ authXML }}" />
			<div class="pull-right">
				<p class="pull-left" style="padding-top:7px; margin-right: 20px;">In case of expiration API Authentication for your browser, please click this button: </p>
				<input type="submit" value="API Authentication" class="btn btn-default" />
			</div>
		</form>#}
		<div class="api-auth clearfix">
			<div class="pull-right">
				<p class="pull-left" style="padding-top:7px; margin-right: 20px;">In case of expiration API Authentication for your browser, please click this button: </p>
				<a href="javascript:void(0)" class="btn btn-default" onclick="return apiAuthenticate();">API Authentication</a>
			</div>
		</div>
		
		<div class="search-notam">
			<label for="code">Select ICAO code: </label>
			
			<input type="text" name="code" id="code" placeholder="EGLL" required="required" />
			{#<select name="code" id="code" >
				{% for iCode in icaoCodes %}
					<option>{{ iCode }}</option>
				{% endfor %}
			</select>#}
			
			<a href="javascript:void(0)" id="get-notam" class="btn btn-default">Search for the NOTAM by selected code</a>
			<img src="/images/loading.gif" alt="loading..." class="loading-ico invisible"/>
			
			<a href="javascript:void(0)" id="delete-markers" class="btn btn-default">Reset Results on the Map</a>
		</div>
		
		<div id="map"></div>
	
	</div>
{% endblock %}	
